body {
    color: #333;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #33A;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    color: #FFF;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    padding: 1em;
}

#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}